div .Notifications {
    border: 2px solid red;
    padding: 1em;
    position: absolute;
    top: 10px;
    width: 95vw;
}

li[data="default"] {
    color: blue;
}
li[data="urgent"] {
    color: red;
}
